<div class="container">
<div class="jumbotron" style="margin: 70px">
	<p><strong>A petition is a request to do something, most commonly addressed to a government official or public entity.Petitions to a deity are a form of prayer called supplication.</strong><br><br>
In the colloquial sense, a petition is a document addressed to some official and signed by numerous individuals. A petition may be oral rather than written, or may be transmitted via the Internet.<br><br></p>
<p>The information you provide is submitted to the database such that after the threshold limit has been crossed, your requested petition will be directed to the appropriate government authorities! <br>
The status of your petition is also be readily available in your petition. You can either start a petition or choose voting for the existing petition if you've crossed upon the same problem! <br>
Your happiness and satisfaction be our only motive. <br><br>
	<strong><em>LET US RAISE OUR VOICE FOR A STRONGER HEALTHIER COMMUNITY :)</em></strong></p>
	</div>
</div>