<nav class="navbar navbar-inverse navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">PetitionMe.Org</a>
        </div>
        <ul class="nav navbar-nav nav-pills">

        <li ng-class="getClass('/about')"><a href="#!/about">About</a></li>
        <li ng-class="getClass('/petitionlist')"><a href="#!/petitionlist">Vote for a Petition</a></li>
        <li ng-class="getClass('/startpetition')"><a href="#!/startpetition">Start a Petition</a></li>
        </ul>
    </div>
</nav>
